body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-image: linear-gradient(to bottom, #ffffff 35%, #D948E8, #A347E6);
    background-attachment: fixed;
    /* #4753E6, #6F47E6, #A347E6, #4785E6, #D948E8 */ 
}


header {
    background-color: #d848e85b ;
    color: #A347E6;
    padding: 10px;
    text-align: center;
    height: 60px;
    font-family: Sigmar One;
    font-size: large;
}

#cabeçalho {
    width: 80%;
    margin: 0 auto;

}

nav {
    font-family: Sigmar One;
    background-color: #6F47E6;
    padding-top: 3px;
}

section {
    padding: 40px 0;
}

h2 {
    font-family: Sigmar One;
}

h3 {
    font-family: Sigmar One;
}

p {
    font-family: Sigmar One;
}

#portfolio img {
    width: 80%;
    margin: 0 auto;
}

.container {
    width: 80%;
    margin: 0 auto;
    color: #A347E6;
}

/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */

#pics {
    display: inline-block;
    
}

.ft {
    width: 50%;
    display: inline-block;
    position:relative;
    left: 300px;
    top: 500px;
}

.photo {
    width: 50%;
    display: inline-block;
    position:relative;
    top: 25%;
    left: 1100px;
}

#conf {
    height:25vh;
    width: 90vw;
    background-color: #A347E6;
    border-radius: 20px;
    margin-left: 80px;
}

.project {
    margin-bottom: 20px;
    margin-right: 90px;
    margin-left: 40px;
    background-color: #A347E6;
    display: inline-block;
    width: 40%;
    height: 25vh;
    color: #d848e8;
}

.uso {
    margin-bottom: 20px;
    margin-right: 90px;
    margin-left: 40px;
    background-color: #A347E6;
    display: inline-block;
    height: 25vh;
    width: 40%;
    position: absolute;
    color: #d848e8;
}

/*  !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */

#about {
    width: 80%;
    margin: 0 auto;
    background-color: #A347E6;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 20px;
    margin-top: 20px;
}

.sobre {
    color: #d848e8;
    background-color: #A347E6;
}

#contact {
    margin: auto;
    width: 90%;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1px;
    position: fixed;
    bottom: 0;
    width: 100%;
    font-style: italic;
    content: 10px;
    height: 35px;
}