body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-image: linear-gradient(to bottom, #ffffff 35%, #A347E6, #D948E8);
    background-attachment: fixed;
    /* #4753E6, #6F47E6, #A347E6, #4785E6, #D948E8 */ 
}


header {
    background-color: #d848e85b ;
    color: #A347E6;
    padding: 10px;
    text-align: center;
    height: 60px;
    font-family: Sigmar One;
    font-size: large;
}

#cabeçalho {
    width: 80%;
    margin: 0 auto;

}

nav {
    font-family: Sigmar One;
    background-color: #6F47E6;
    padding-top: 3px;
}

section {
    padding: 40px 0;
}

h2 {
    font-family: Sigmar One;
}
h3 {
    font-family: Sigmar One;
}
#portfolio .project {
    margin-bottom: 20px;
    display: inline-block;
    margin-right: 90px;
}

#portfolio img {
    max-width: 100%;
    height: auto;
}

#about {
    width: 80%;
    margin: 0 auto;
    background-color: #A347E6;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 20px;
    margin-top: 20px;
}

.sobre {
    background-color: #d848e85e ;
}

#contact {
    margin: auto;
    width: 90%;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    font-style: italic;
    content: 10px;
    height: 35px;
}